@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Request Appointment";
}
<link rel="javascript" type="text/javascript" href="~/Scripts/Appointment.js"/>
<h1>@ViewBag.Title</h1>

@model AppointmentScheduler.Models.AppointmentInfo

@*@using(Html.BeginForm("RequestAppointment","RequestAppointment",FormMethod.Post))
{
    @Html.Label("User:");
    @Html.DropDownList("GuestUser", new SelectList(), "Select User");
}*@

