@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AppointmentScheduler.Models.Users
    <table border="1">
        <tr>
            <td>First Name:</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>EmailID:</td>
            <td>@Model.EmailID</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>@Model.PhoneNumber</td>
        </tr>
    </table>


<table>
    <tr>
        <td></td>
    </tr>
</table>


